html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  background: 0 0 / cover no-repeat url(images/david-schultz-SrewPUfo2c0-unsplash.jpg);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background .2s;
}

.box.is-shadowless {
  border: 1px solid transparent;
  transition: .3s;
  height: 100%;
}

.box.is-shadowless:hover,
.box.is-shadowless:active,
.box.is-shadowless:focus-visible {
  box-shadow: 0 0 0 1px #363636 !important;
  transform: translateY(-3px);
}

.is-capitalized-first-letter::first-letter {
  text-transform: capitalize;
}

.greeting {
  overflow: hidden;
  border-right: 2px solid #fff;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink .5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .px-3-mobile {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }

  .content li {
    word-break: break-word;
  }

  #greeting {
    font-size: 1.5rem;
  }
}